<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>smk</title>
    <link rel="stylesheet" href="styles/style.css" />
</head>
<body ng-app="app" ng-controller="UserStatusCtrl">
    <nav>
        <div>
            <a href="#/" ng-if="!status">Sign in</a>
            <a href="#/products">Products</a>
        </div>
        <div ng-if="status" class="userInfo">
            <span>Login: {{username}}</span>
            <a href="#/" class="exitBtn" ng-click="exit()">Sign out</a>
        </div>
    </nav>

    <ng-view></ng-view>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
</body>
</html>